node_modules
dist
.env
mobile-app/vango-dev-43727-firebase-adminsdk-fbsvc-3c689e881e.json
*.firebase-adminsdk-*.json
*.service-account*.json
# Firebase / GCP service account keys
mobile-app/*firebase-adminsdk-*.json
# or even:
*.service-account.json
*.firebase-adminsdk-*.json
