@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 5%;
    --foreground: 0 0% 95%;

    --card: 240 5% 10%;
    --card-foreground: 0 0% 95%;

    --card-interactive: 240 4% 16%;

    --popover: 240 5% 10%;
    --popover-foreground: 0 0% 95%;

    --primary: 48 100% 50%;
    --primary-foreground: 240 3% 5%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 95%;

    --muted: 240 4% 16%;
    --muted-foreground: 220 9% 56%;

    --accent: 48 100% 50%;
    --accent-foreground: 240 3% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 95%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 48 100% 50%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
  }
}
